<!DOCTYPE html>
{# 
This is a Twig file 
Twig is a template engine that let you create your layout without using PHP.
It's useful to:
- Access the content of variables passed from a controller,
- Using conditional statements (if, else, ...)
- Using loops (For, while, foreach, ...)
and much more.

More info here: https://symfony.com/doc/4.2/templating.html 

Why including Links/code blocks here ?
This is a base page, meaning every other page I create will extend this page.

#}
<html>

<head>
    <meta charset="UTF-8">
    <!-- including Bootswatch cdn link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">SymBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Articles <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/new">Creer un article</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>