<!DOCTYPE html>
{# 
This is a Twig file 
Twig is a template engine that let you create your layout without using PHP.
It's useful to:
- Access the content of variables passed from a controller,
- Using conditional statements (if, else, ...)
- Using loops (For, while, foreach, ...)
and much more.

More info here: https://symfony.com/doc/4.2/templating.html 

Why including Links/code blocks here ?
This is a base page, meaning every other page I create will extend this page.

#}
<html>

<head>
    <meta charset="UTF-8">
    <!-- including Bootswatch cdn link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>

</html>